$text-deep-color:#262c34;
$text-color:#575d6f;
$text-light-color:#acbac8;
$blue:#68a7f8;
$light-blue:#848fb3;
$orange:#ffa312;
$green:#95c981;
$red:#f00;
$disable:#f5f8fb;
$pink:#fa6054;
$border-color:#e7eaef;
